body{
    background-color: #c0c5ce;
}
.container{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    background-color: #65737e;
    padding:4%;
}
.container img{
    max-width: 250px;
    padding: 4px;
}
#elementos{
    padding: 2%;
}
#elementos .elemento{
    margin: 10px;
    border: 2px solid #c0c5ce;
    display: block;
    padding: 10px;
    text-align: left;
    position: relative;
    margin: 2%;
}
#elementos .elemento a{
    font-family: "raleway",sans-serif;
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 30%;
    color: white;
    text-decoration: none;
    font-size: 16px;
}